/* Reset */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --main-color: #480ca8;
    --main-text_color: #fff;
    --border-color: #999;
    --bio-bg-color: #18222e;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}

/* General */

.cor-especial {
    color: var(--main-color)
}

/* Containers */

.container {
    display: flex;
    flex-direction: row;
    color: var(--main-text_color);
}

.bio-container {
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border: 5px solid var(--bio-border-color);
}

.sobre-container {
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 50px;
}


/* Bio Container */

.bio-container h2 {
    margin-bottom: 25px;
}

.bio-container p {
    margin-bottom: 20px;
}

.bio-container .bio-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.texto-bem-vindo {
    font-weight: bold;
}

.social-container {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.social-container li {
    flex: 1 1 0;
    max-width: 60px;
}

.social-container li a {
    color: var(--main-color);
    font-size: 30px;
}

.contato-email {
    display: flex;
    justify-content: center;
}

.contato-email ion-icon, .contato-email a {
    flex: 1 1 0;
}

.contato-email a {
    text-decoration: none;
    color: var(--main-text_color);
    max-width: 225px;
}

.contato-email ion-icon {
    color: var(--main-color);
    font-size: 20px;
    margin-right: 5px;
    max-width: 20px;
}

/* About Container */

.nome-dev {
    font-size: 42px;
    margin-bottom: 15px;
}

.titulo {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.descricao {
    max-width: 75%;
    margin-bottom: 10px;
}

#botao-projetos {
    font-weight: bold;
    font-size: 16px;
    color: var(--main-text_color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    margin: 25px 0;
    padding: 12px 10px;
    width: 150px;
    text-align: center;
    display: flex;
    
}

#botao-projetos ion-icon, #botao-projetos span {
    flex: 1 1 0;
} 

#botao-projetos ion-icon {
    font-size: 20px;
    max-width: 20px;

}

#botao-projetos:hover {
    background-color: transparent;
}

.titulo-de-skills {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.caixa-skill {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 35px;
}

.titulo-da-skill {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
}

.caixa-skill i {
    font-size: 45px;
    margin-left: 10px;
}


/* Mobile */

@media (max-width: 450px) {

    .container {
        flex-direction: column;
    }

    .bio-container {
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    .bio-container h2 {
        display: none;
    }

    .bio-container p {
        max-width: 60%;
        margin: 10px auto;
    }

    .sobre-container {
        text-align: center;
        padding: 30px;
    }

    .sobre-container .descricao {
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px;
    }

    #botao-projetos {
        margin: 20px auto;
    }

    .caixa-skill {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .caixa-skill i {
        font-size: 50px;
    }
}